<div id="<%= dom_id category %>">
  <p>
    <strong>Category type:</strong>
    <%= category.category_type %>
  </p>

  <p>
    <strong>Category description:</strong>
    <%= category.category_description %>
  </p>

</div>
