<% @categories.each do |category| %>
  <div class="card">
    <div class="card-content">
      <%= link_to category_path(category), class: 'media' do %>
          <div class="media-left">
              <figure class="image is-48x48">
                <img
                  src="https://bulma.io/assets/images/placeholders/96x96.png"
                  alt="Placeholder image"
                />
              </figure>
          </div>
          <div class="media-content">
            <p class="title is-4"><%= category.category_type %></p>
          </div>
          <div class="media-right">
            <span><%= category.products.count %></span>
          </div>
      <% end %>
    </div>
  </div>
<% end %>


