    <div class="column is-one-third">
    <div class="cell">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img
                        src="https://bulma.io/assets/images/placeholders/1280x960.png"
                        alt="Placeholder image"
                    />
                </figure>
            </div>

            <% if controller_name == "products" && action_name == "index" %>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">
                                <% if show_link %>
                                    <%= link_to product.product_name, product %> <!-- Link on the index page -->
                                <% else %>
                                    <%= product.product_name %> <!-- Plain text on the show page -->
                                <% end %>
                            </p>
                        </div>
                    </div>
                </div>
            <% end %>

            <footer class="card-footer">
                <p class="card-footer-item">
                    <%= number_to_currency product.price %>
                </p>
            </footer>
        </div>
    </div>
</div>
